@charset "utf-8";

*{
	margin: 0px;
	padding: 0px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
	font-size: 100%;
	min-width: 1200px;
	margin-top: 0em;
}

header {
	text-decoration: none;
	text-align: center;
	top: 0px;
	position: fixed;
	width: 100%;
	min-width: 1200px;
	background-color: #5DD8FF;
}

header ul {
	padding-top: 2em;	
	padding-bottom: 2em;
}


header li {
	display: inline;	
}

header li a{
	text-decoration: none;
	color: #FFFFFF;
	font-size: 1em;
	font-style: normal;
	//font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-top: 0.618em;
	padding-right: 1em;
	padding-left: 1em;
	padding-bottom: 0.618em;
	border: 1px solid #5DD8FF;
	font-weight: bold;
}

a{
	text-decoration: none;
	color: #585858;
}
a:hover{
	color: #F5CC33;
}
header ul li a:hover, header .active a{
	color: #5DD8FF;
	background-color: #FFFFFF;
	border-radius: 7px;
	border: 1px solid #FFFFFF;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	-o-border-radius:7px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

#content {
	background-color: #FFFFFF;
	margin-top: 4.5em;
}

table{
    width:100%;
    //border:3px solid #f00;
	border-collapse: collapse;
}

.home_td {
	//text-align: center;	
	padding-bottom: 360px;
}
.home_th {
	width: 61.8%;
	background-image: url(../images/beachNet.jpg);
	background-repeat: no-repeat;
	//border: 3px solid #f00;
	background-size: auto 1200px;
	background-position: 61.8% 50%;
}

.who_td {
	padding-top: 15em;
	padding-bottom: 28em;
}
.who_th {
	width: 61.8%;
	background-image: url(../images/girls_game.jpg);
	background-repeat: no-repeat;
	//border: 3px solid #f00;
	background-position: center center;
}

.about_td {
	padding-top: 13em;
	padding-bottom: 18em;
}
.about_th {
	width: 61.8%;
	background-image: url(../images/spike.jpg);
	background-repeat: no-repeat;
	//border: 3px solid #f00;
	background-position: center center;
	background-size: auto 100%;
}

.contact_td {
	padding-top: 20em;
	padding-bottom: 25em;
}
.contact_th {
	width: 61.8%;
	background-image: url(../images/sand.jpg);
	background-repeat: no-repeat;
	//border: 3px solid #f00;
	background-position: center center;
	background-size: auto 100%;
}

.sign_td {
	width: 38.2%;	
}

.guide_td {
	padding-top: 20em;
	padding-bottom: 20em;
}
.guide_th {
	width: 38.2%;
	background-image: url(../images/receiving.jpg);
	background-repeat: no-repeat;
	//border: 3px solid #f00;
	background-position: center center;
}

.title1 {
	padding-left: 1em;
	font-size: 3em;
	color: #0A4191;
	font-weight: bold;
	margin-top: -12px;
}

.title2 {
	font-size: 3em;
	padding-left: 1em;
	padding-bottom: 0.618em;
	padding-top: 3em;
	color: #F5CC33;
	font-style: italic;
}

.title3 {
	//padding-left: 2em;
	font-size: 1.2em;
	color: #5DD8FF;
	font-weight: bold;
	margin-bottom: -24px;
}

.title4 {
	padding-left: 2em;
	font-size: 1.2em;
	color: #585858;
	font-weight: bold;
}

.rotate {
	width: 150px;
	height: 150px;
	margin-left: 2em;
	margin-bottom: 2em;
	background-repeat: no-repeat;
	background-position: left top;
	background-image: url(../images/vector_volleyball.png);
	-webkit-background-size: 150px 150px;
	-moz-background-size: 150px 150px;
	background-size: 150px 150px;
	-webkit-border-radius: 75px;
	border-radius: 75px;
	-webkit-transition: -webkit-transform all 1s ease-out;
	-moz-transition: -moz-transform all 1s ease-out;
	-o-transition: -o-transform all 1s ease-out;
	-ms-transition: -ms-transform all 1s ease-out;
	transition: all 1s ease-out;
	//border: 3px solid #f00;
}

.rotate:hover {
	
	-webkit-transform: rotateZ(1080deg) scale(1.5);
	-moz-transform: rotateZ(1080deg) scale(1.5);
	-o-transform: rotateZ(1080deg) scale(1.5);
	-ms-transform: rotateZ(1080deg) scale(1.5);
	transform: rotateZ(1080deg) scale(1.5);
}

span{
	margin-right: -1.2em;
	font-weight: bold;
}

p{
	padding-top: 1em;
	padding-right: 3em;
	padding-left: 3em;
	padding-bottom: 1em;	
}

section{
	margin-right: 4em;
	margin-left: 4em;
	margin-top: 4em;
	margin-bottom: 4em;
	text-align:center;
}
footer {
	background-color: #585858;
	color: #FFFFFF;
	text-align: center;
	//font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-top: 1em;
	padding-bottom: 1em;
}
.submit {
	font-size:1.2em;	
}

.box {

}
.blank_row
{
    height: 10px;
    background-color: #FFFFFF;
}